.topbar{
    width:100%;
}

.login {
    margin: 20px auto;
    width: 400px;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
}

    h1.login-title {
        margin: -28px -25px 25px;
        padding: 15px 25px;
        line-height: 30px;
        font-size: 25px;
        font-weight: 300;
        color: #ADADAD;
        text-align: center;
        background: #f7f7f7;
    }

    .login-input {
        width: 285px;
        height: 50px;
        padding-left: 10px;
        font-size: 15px;
        background: #fff;
        border: 1px solid #ccc !important;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

        .login-input:focus {
            border-color: #6e8095 !important;
            outline: none;
        }

.login-button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #343a40;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    outline: 0;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -ms-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

    .login-button:hover {
        background: #61656a;
    }

    .login-lost {
        text-align: center;
        margin-bottom: 0px;
    }

        .login-lost a {
            color: #666;
            text-decoration: none;
            font-size: 13px;
        }


.welcometext {
    margin-right: 15px;
    float: right;
}


.createButton a {
    text-decoration: none;
    color: #fff;
}

.hold {
    padding: 20px 0
}


    .hold{
        display:block;
        margin: 0 auto;
    }


.form-control {
    padding: .375rem .375rem !important;
}

.statusColumn{
    width:15%;
}

.selectTab {
    display: initial;
    font-size: 1em;
}

.completedFilter, .allFilter, .inprogressFilter, .unassignedFilter {
    cursor: pointer;
    -webkit-transition: box-shadow 0.2s; /* Safari */
    transition: box-shadow 0.2s;
}

    .completedFilter.active, .allFilter.active, .inprogressFilter.active, .unassignedFilter.active {
        box-shadow: 0px 2px 4px 0px black !important;
    }

.labsmall.techtab{
    display:table-cell;
}

.smallerText {
    font-size: 0.9em !important;
}

.form .text-input {
    padding: 0.5em 0.5em !important;
}

.createNav{
    padding: 0.5em 1em;
}

.createNav.active{
    background-color:white;
    color:black;
}
.createNav.active:hover {
    color: black;
}

.navbar {
    padding: 0 1rem !important;
}

.modalButton {
    display: inline;
    font-size: 1.3em;
    padding: 10px;
    width: 50%;
    float: left;
    border-bottom:1px solid black;
}

.modalButton.active{
    font-weight:bold;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}