﻿@model ResourcingTool.Models.UserErrors

@{
    ViewBag.Title = "PwC Research Resourcing Tool - Change Password";

}

@Html.ValidationSummary(true)
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <style>
        body {
            background: #2d343d !important;
        }

        #field-validation-error {
            color: red;
        }
    </style>
</head>
<body class="loginPage">
    <form action="~/Projects/ChangePassword" method="post" class="login">

        <h1 class="login-title">Change Password</h1>

        <input type="hidden" id="userId" name="userId" value="@User.Identity.GetUserId()">


        <input type="password" class="login-input" id="currentPassword" name="currentPassword" value="" placeholder="Current Password" required>


        <input type="password" class="login-input" id="newPassword" name="newPassword" value="" placeholder="New Password" required>

        <input type="password" class="login-input" id="newPasswordConfirm" name="newPasswordConfirm" value="" placeholder="Confirm New Password" required>


        <div class="errormessage">
            @Html.DisplayFor(model => model.ErrorMessage)
        </div>

        <input type="submit" class="login-button" name="name" id="SubmitButton" value="Change Password" />

    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var password = document.getElementById("newPassword")
            , confirm_password = document.getElementById("newPasswordConfirm"), submit = document.getElementById("SubmitButton");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Please ensure the passwords match");
                console.log("fail");
                submit.fadeOut();
            } else {
                confirm_password.setCustomValidity('');
                submit.fadeIn();
                console.log("pass");
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;



    </script>
</body>
</html>

