
@{
    ViewBag.Title = "PwC Research Internal Tools";
}

<div class="panelsContainer">
    <div class="costingToolPanel homePanel overlay">
        <div class="panelText">
            Costing Tool [Alpha]
            <span class="subtext"><br />Coming Feb 2019</span>
        </div>
    </div>
    <a href="/Projects/Index">
        <div class="resourcingToolPanel homePanel overlay">
            <div class="panelText">
                Resourcing Tool [Beta]
                <span class="subtext"><br /><u>Click here to enter</u></span>
            </div>
        </div>
    </a>
</div>