﻿@model ResourcingTool.Models.UserErrors

@{
    ViewBag.Title = "PwC Research Resourcing Tool - Login";

}@Styles.Render("~/Content/css")

@Html.ValidationSummary(true)
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        body {
            background: #2d343d !important;
        }

        #field-validation-error {
            color: red;
        }
    </style>
</head>
<body class="bg-dark">
    <form action="~/Home/Login" method="post" class="login">

        <h1 class="login-title">Login</h1>


        <input type="text" class="login-input" id="UserName" name="UserName" value="" placeholder="Username" required>


        <input type="password" class="login-input" id="Password" name="Password" value="" placeholder="Password" required>

        <div class="errormessage">
            @Html.DisplayFor(model => model.ErrorMessage)<br /><br />
        </div>

        <input type="submit" class="login-button" name="name" value="Login" />

    </form>
</body>
</html>

