<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8ca66a63-b0b4-448d-9a18-8e51c37b3be0/resourcegroups/ResourcingToolGroup/providers/Microsoft.Web/sites/resourcingtool2019</ResourceId>
    <ResourceGroup>ResourcingToolGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://resourcingtool2019.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>resourcingtool2019.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>resourcingtool2019</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$resourcingtool2019</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ResourcingToolConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:resourcingtool20181101093333dbserver.database.windows.net,1433;Initial Catalog=ResourcingTool20181101093333_db;Persist Security Info=True;User ID=pwcadmin;Password=pwcresearch.1;Application Name=EntityFramework" Name="Data Source=tcp:resourcingtool20181101093333dbserver.database.windows.net,1433;Initial Catalog=ResourcingTool20181101093333_db;Persist Security Info=True;User ID=pwcadmin;Password=pwcresearch.1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ResourcingTool.Models.ResourcingToolConnection, ResourcingTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ResourcingToolEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:resourcingtool20181101093333dbserver.database.windows.net,1433;Initial Catalog=ResourcingTool20181101093333_db;Persist Security Info=True;User ID=pwcadmin;Password=pwcresearch.1;Application Name=EntityFramework" Name="Data Source=tcp:resourcingtool20181101093333dbserver.database.windows.net,1433;Initial Catalog=ResourcingTool20181101093333_db;Persist Security Info=True;User ID=pwcadmin;Password=pwcresearch.1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=resourcingtool20180803023831dbserver.database.windows.net;Initial Catalog=ResourcingTool20180803023831_db;Persist Security Info=True;User ID=dcallaghan;Password=PWCresearch.1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ResourcingToolEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ResourcingTool.csdl|res://*/Models.ResourcingTool.ssdl|res://*/Models.ResourcingTool.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=resourcingtool20180803023831dbserver.database.windows.net;initial catalog=ResourcingTool20180803023831_db;persist security info=True;user id=dcallaghan;password=PWCresearch.1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ResourcingToolEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ResourcingTool.csdl|res://*/Models.ResourcingTool.ssdl|res://*/Models.ResourcingTool.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:resourcingtool20181101093333dbserver.database.windows.net,1433;initial catalog=ResourcingTool20181101093333_db;persist security info=True;user id=pwcadmin;password=pwcresearch.1;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ResourcingToolConnection-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ResourcingModel.csdl|res://*/Models.ResourcingModel.ssdl|res://*/Models.ResourcingModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:resourcingtool20181101093333dbserver.database.windows.net,1433;Initial Catalog=ResourcingTool20181101093333_db;Persist Security Info=True;User ID=pwcadmin;Password=pwcresearch.1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>