<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8ca66a63-b0b4-448d-9a18-8e51c37b3be0/resourceGroups/ResourcingToolGroup/providers/Microsoft.Web/sites/ResourcingTool20180803023831</ResourceId>
    <ResourceGroup>ResourcingToolGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://resourcingtool20180803023831.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>resourcingtool20180803023831.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ResourcingTool20180803023831</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ResourcingTool20180803023831</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ResourcingToolEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=resourcingtool20180803023831dbserver.database.windows.net;Initial Catalog=ResourcingTool20180803023831_db;Persist Security Info=True;User ID=dcallaghan;Password=PWCresearch.1;Application Name=EntityFramework" Name="Data Source=resourcingtool20180803023831dbserver.database.windows.net;Initial Catalog=ResourcingTool20180803023831_db;Persist Security Info=True;User ID=dcallaghan;Password=PWCresearch.1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ResourcingTool.Models.ResourcingToolEntities, ResourcingTool" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ResourcingToolEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ResourcingTool.csdl|res://*/Models.ResourcingTool.ssdl|res://*/Models.ResourcingTool.msl;provider=System.Data.SqlClient;provider connection string="Data Source=resourcingtool20180803023831dbserver.database.windows.net;Initial Catalog=ResourcingTool20180803023831_db;Persist Security Info=True;User ID=dcallaghan;Password=PWCresearch.1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>